#about
    padding: 90px 0
    .uptext
        h1
            font-size: 40px
            font-weight: 700
        h4
            margin: 20px 0 50px
            font-size: 20px
    .bigbox
        display: flex
        flex-flow: column
        .box
            display: flex
            flex-flow: row
            margin: 20px
            .imgbox
                margin: 30px -55px
                width: 170px
                img
                    border: 8px solid #d1cccc
                    border-radius: 50%
            .textbox
                padding: 30px 0
                margin: 1px 80px
                width: 350px
                line-height: 1.5
                font-size: 20px
                color: #272626c6
                h1,h2
                    font-weight: 700
                    font-size: 25px
                    color: #000
            .minibox
                padding: 30px 35px
                font-size: 23px
                font-weight: 700
                color: #ffff
                background-color: #f7ef14
                margin: 30px -55px
                width: 170px
                border: 8px solid #d1cccc
                border-radius: 50%

        @media screen and ( max-width:768px)
            .uptext
                h1
                    font-size: 35px
                h4
                    font-size: 15px
            .bigbox
                .box
                    .imgbox,.minibox
                        width: 120px
                        height: 120px
                    .textbox
                        line-height: 1
                        width: 250px
                        font-size: 15px
                        h1,h2
                            font-size: 20px
                    .minibox
                        font-size: 18px

        @media screen and (min-width:1400px)
            .uptext
                h1
                    font-size: 45px
                h4
                    font-size: 25px
            .bigbox
                .box
                    .imgbox,.minibox
                        width: 190px
                        height: 200px
                        margin: 33px 11px
                    .textbox
                        font-size: 25px
                        h1,h2
                            font-size: 30px
                    .minibox
                        font-size: 28px
