#about
    padding: 90px 0
    .uptext
        h1
            font-size: 40px
            font-weight: bold
            font-family: sans-serif
        h4
            margin: 20px 0 50px
            font-size: 18px
            font-style: italic
            font-family: Georgia, 'Times New Roman', Times, serif
    .imgbox
        width: 150px
        height: 150px
        overflow: auto
        border: 8px solid #d1cccc
        border-radius: 50%
