#about
    padding: 90px 0
    .uptext
        h1
            font-size: 40px
            font-weight: 700
        h4
            margin: 20px 0 50px
            font-size: 20px
    .textbox
        padding: 30px 0
        margin: 1px 80px
        width: 350px
        line-height: 1.5
        font-size: 20px
        color: #272626c6
        h1,h2
            font-weight: 700
            font-size: 25px
            color: #000
    .imgbox
        width: 170px
        margin: 10px 0 2px 
        img
            border: 8px solid #d1cccc
            border-radius: 50%

    .minibox
        background-color: #f7ef14
        margin: 30px -55px
        width: 170px
        height: 170px
        border: 8px solid #d1cccc
        border-radius: 50%
        h6
            padding: 30px 35px
            font-size: 23px
            font-weight: 700
            color: #ffff
