#contact
    background-image: url("assets'/map-image.png")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .textbox
        width: 400px
        height: 900px
        color: #ffff
        h1
            font-size: 40px
            font-weight: bold
            font-family: sans-serif
            h4
                margin: 20px 0 50px
                font-size: 18px
                font-style: italic
                font-family: Georgia, 'Times New Roman', Times, serif
