header
    .menu
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 1
        padding: 15px 0
        background-color: #181818
        .logobox
            width: 10%
        nav
            padding: 10px
            a
                color: #ffff
                margin: 15px
                font-size: 19px
                &:hover
                    color: #eeff03

    // @media screen and (max-width: 1920px)
    //     .menu
    //         padding: 6px
    //         nav
    //             a
    //                 margin: 10px
    //                 font-size: 17px
    // @media screen and (min-width:2000px)
    //     .menu
    //         .logobox
    //             width: 12%
    //         nav
    //             a
    //                 margin: 15px
    //                 font-size: 21px
