header
    .menu
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 1
        padding: 15px 0
        background-color: #181818
        .logobox
            width: 14%
        nav
            a
                color: #ffff
                margin: 15px
                font-size: 19px
                &:hover
                    color: #eeff03

    @media screen and (max-width: 992px)
        .menu
            padding: 6px
            .logobox
                width: 13%
            nav
                a
                    margin: 10px
                    font-size: 17px
    @media screen and (min-width:1600px)
        .menu
            .logobox
                width: 16%
            nav
                a
                    margin: 15px
                    font-size: 21px
