header
    display: inline-block
    .menu
        width: 110%
        position: fixed
        padding: 15px
        background-color: #181818
        .logobox
            width: 15%
        nav
            a
                color: #ffff
                margin: 20px
                font-size: 19px

    @media screen and (max-width: 992px)
        .menu
            padding: 6px
            nav
                a
                    margin: 10px
                    font-size: 19px
    @media screen and (min-width:1600px)
        .menu
            nav
                a
                    margin: 15px
                    font-size: 20px
