#pagend
    background-color: #ffff
    
    .btn
        .twitter,.fb,.linkedin
            width: 250px
            height: 40px
            font-size: 18px
            color: #ffff
            background-color: #000
            margin: 10px
            border-radius: 50%
            padding: 5px
