#portfolio
    background-color: #f1f0f0
    padding: 80px 0
    .up
        h1
            font-size: 40px
            font-weight: 700
        h4
            margin: 20px 0 50px
            font-size: 18px

    .box
        .imgbox
            width: 100%
        .textbox
            height: 95px
            background-color: #ffff
            margin: -23px 0 29px
            padding: 10px
            h2
                font-weight: 700
                margin: 25px 0 10px
                font-size: 25px
            h4
                font-size: 18px
                font-style: italic
                color: #272626c6
                margin: 0 0 35px
