#portfolio
    padding: 80px 0
    .up
        h1
            font-size: 40px
            font-weight: bold
            font-family: sans-serif
        h4
            margin: 20px 0 50px
            font-size: 18px
            font-style: italic
            font-family: Georgia, 'Times New Roman', Times, serif

    .box
        width: 355px
        .textbox
            h2
                margin: 25px 0 10px
                font-size: 25px
                font-weight: bold
                font-family: sans-serif
            h4
                font-size: 18px
                font-style: italic
                color: #272626c6
                font-family: Georgia, 'Times New Roman', Times, serif
                margin: 0 0 15px
                
