#services
    padding: 90px
    .begin
        h1
            font-size: 40px
            font-weight: bold
            font-family: sans-serif
        h5
            margin: 20px 0 50px
            font-size: 20px
            font-style: italic
    .icon
        margin: 10px 100px
        background-color: #edd30b
        border-radius: 80px
        width: 140px
        height: 130px
        i
            font-size: 70px
            color: #ffff
    .textbox
        h2
            margin: 25px 0 30px
            font-size: 25px
            font-weight: bold
            font-family: sans-serif
        p
            font-size: 18px
            color: #272626c6
            font-family: Georgia, 'Times New Roman', Times, serif
            line-height: 1.5
