#team
    background-color: #faf9f9
    padding: 80px
    .upbox
        h1
            font-size: 40px
            font-weight: bold
            font-family: sans-serif
        h4
            margin: 20px 0 50px
            font-size: 18px
            font-style: italic
            font-family: Georgia, 'Times New Roman', Times, serif
    .box
        margin: 0 68px
        .imgbox
            width: 250px
            height: 250px
            overflow: auto
            border: 8px solid #d1cccc
            border-radius: 50%
        .textbox
            h2
                margin: 25px 0 30px
                font-size: 25px
                font-weight: bold
                font-family: sans-serif
            h5
                font-size: 18px
                color: #272626c6
                font-family: Georgia, 'Times New Roman', Times, serif
        .btn
            margin: 0 68px
            .twitter,.fb,.linkedin
                width: 90px
                font-size: 18px
                color: #ffff
                background-color: #000
                margin: 20px
                border-radius: 50%




