#welcome
    background-image: url("assets'/header-bg.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .textbox
        width: 80%
        height: 900px
        h1
            margin: 70px 0 0
            font-size: 50px
            color: #ffff
        h2
            margin: 30px 0 70px
            font-size: 80px
            font-weight: 500
            color: #ffff
        button
            border: 1px solid #edd30b
            width: 230px
            height: 70px
            font-size: 20px
            color: #ffff
            background-color: #edd30b
            border-radius: 5px

