#welcome
    background-image: url("assets'/header-bg.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .textbox
        padding: 250px 0
        width: 100%
        height: 900px
        h1
            margin: 70px 0 0
            font-size: 60px
            color: #ffff
        h2
            margin: 30px 0 70px
            font-size: 95px
            font-weight: 700
            color: #ffff
        .btn
            button
                border: 1px solid #edd30b
                width: 230px
                height: 70px
                font-size: 30px
                color: #ffff
                background-color: #edd30b
                border-radius: 5px

        @media screen and (max-width: 992px)
        .textbox
            padding: 80px 0
            width: 90%
            h1
                margin: 25px 0 0
                font-size: 30px
            h2
                margin: 10px 0 20px
                font-size: 40px
                font-weight: 500
            .btn
                button
                    width: 160px
                    height: 45px
                    font-size: 10px
