body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header .menu {
  position: fixed;
  width: 1200px;
  padding: 30px;
  background-color: #181818;
  background-size: cover;
}
header .menu .logobox {
  width: 180px;
}
header .menu nav a {
  color: white;
  margin: 10px;
  font-size: 18px;
}

#welcome {
  background-image: url("assets'/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#welcome .textbox {
  width: 1300px;
  height: 900px;
}
#welcome .textbox h1 {
  margin: 70px 0 0;
  font-size: 50px;
  font-style: italic;
  color: white;
}
#welcome .textbox h2 {
  margin: 30px 0 70px;
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
#welcome .textbox button {
  border: 1px solid #edd30b;
  width: 230px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  background-color: #edd30b;
  border-radius: 5px;
}

#services {
  padding: 90px;
}
#services .begin h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
#services .begin h5 {
  margin: 20px 0 50px;
  font-size: 20px;
  font-style: italic;
}
#services .icon {
  margin: 10px 100px;
  background-color: #edd30b;
  border-radius: 80px;
  width: 140px;
  height: 130px;
}
#services .icon i {
  font-size: 70px;
  color: white;
}
#services .textbox h2 {
  margin: 25px 0 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
#services .textbox p {
  font-size: 18px;
  color: rgba(39, 38, 38, 0.7764705882);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

#portfolio {
  padding: 80px 0;
}
#portfolio .up h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
#portfolio .up h4 {
  margin: 20px 0 50px;
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#portfolio .box {
  width: 355px;
}
#portfolio .box .textbox h2 {
  margin: 25px 0 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
#portfolio .box .textbox h4 {
  font-size: 18px;
  font-style: italic;
  color: rgba(39, 38, 38, 0.7764705882);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 0 35px;
}

#about {
  padding: 90px 0;
}
#about .textbox h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
#about .textbox h4 {
  margin: 20px 0 50px;
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#team {
  background-color: #faf9f9;
  padding: 80px;
}
#team p {
  padding: 40px 0;
  width: 750px;
  font-size: 18px;
  color: rgba(86, 85, 85, 0.7764705882);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}
#team .upbox h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
#team .upbox h4 {
  margin: 20px 0 50px;
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#team .box {
  margin: 0 68px;
}
#team .box .imgbox {
  width: 250px;
  height: 250px;
  overflow: auto;
  border: 8px solid #d1cccc;
  border-radius: 50%;
}
#team .box .textbox h2 {
  margin: 25px 0 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
#team .box .textbox h5 {
  font-size: 18px;
  color: rgba(86, 85, 85, 0.7764705882);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#team .box .btn .twitter, #team .box .btn .fb, #team .box .btn .linkedin {
  width: 250px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #000;
  margin: 10px;
  border-radius: 50%;
  padding: 5px;
}

#network {
  padding: 70px;
}
#network .microsoft {
  width: 200px;
  height: 50px;
}
#network .google {
  width: 120px;
  height: 25px;
}
#network .facebook {
  width: 140px;
  height: 45px;
}
#network .ibm {
  width: 100px;
  height: 10px;
}

#contact {
  background-image: url("assets'/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .textbox {
  width: 400px;
  height: 900px;
  color: white;
}
#contact .textbox h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
#contact .textbox h4 {
  margin: 20px 0 50px;
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#pagend {
  background-color: white;
}
#pagend .btn .twitter, #pagend .btn .fb, #pagend .btn .linkedin {
  width: 250px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #000;
  margin: 10px;
  border-radius: 50%;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */